scgi_port = 127.0.0.1:5000
session = /home/box/.rtorrent
directory = /home/box/downloads
schedule = watch_directory,60,60,load_start=/home/box/torrents/*.torrent
max_uploads_global = 100
max_downloads_global = 200
max_uploads = 50
min_peers = 20
max_peers = 60
min_peers_seed = -1
max_peers_seed = -1
trackers.numwant.set = -1
check_hash = no
port_range = 55950-56000
port_random = yes
upload_rate = 0
download_rate = 0
pieces.memory.max.set = 1500M
network.max_open_files.set = 128
network.http.max_open.set = 16
dht = disable
peer_exchange = no
schedule = untied_directory,5,5,stop_untied=
schedule = low_diskspace,5,60,close_low_diskspace=100M
encryption = allow_incoming,enable_retry,prefer_plaintext
system.file.max_size.set = -1
pieces.preload.type.set = 1
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120
network.send_buffer.size.set = 0
network.receive_buffer.size.set = 0
pieces.sync.always_safe.set = no
pieces.sync.timeout.set = 600
pieces.sync.timeout_safe.set = 900
session.name.set =
session.use_lock.set = yes
session.on_completion.set = yes
system.file.split_size.set = -1
system.file.split_suffix.set = .part
trackers.use_udp.set = yes
use_udp_trackers = yes
print="Config successfully read!"